@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  background: transparent;
}

svg {
  width: 100%;
  display: block;
}

body {
  height: 100vh;
  background-color: #f9fafb;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  color: #6c727f;
}

main {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.logo-div {
  object-fit: cover;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000000;
}

.form-div {
  margin-top: 2rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03),
    0px 8px 12px 0px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 500px;
}

.form-div form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.form-div input,
.form-div button {
  font-weight: 500;
  padding: 0.8rem;
  border-radius: 10px;
  text-align: center;
}

.form-div input {
  background-color: #f9fafb;
  color: #000;
  outline: 1px solid #6c727f27;
}
.form-div button {
  background-color: #284bce;
  color: #fff;
  cursor: pointer;
}

form small {
  font-size: 0.6rem;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}
